git+git://github.com/cvra/molly-the-motion-planner.git
git+git://github.com/cvra/inverse-kinematics.git
git+git://github.com/cvra/simplerpc.git
git+git://github.com/cvra/actuator-control-interface.git
pykka
